<div>
  <div>TIME: {{ timer }}</div>
  <button mat-raised-button color="accent" (click)="start()">START</button>
  <div *ngIf="isEndOfGame">{{ winner }}</div>
  <div>Player 1 Score: {{ p1Score }}</div>
  <div>Player 2 Score: {{ p2Score }}</div>
  <div *ngIf="p1Equation">{{ p1Equation.toString() }}</div>
  <div *ngIf="p2Equation">{{ p2Equation.toString() }}</div>
  <div>{{ p1Input }}</div>
  <div>{{ p2Input }}</div>
  <div>
    <div>Equation Settings</div>
    <label>Lowest possible number:</label>
    <input [(ngModel)]="minInt">
    <label>Highest possible number:</label>
    <input [(ngModel)]="maxInt">
    <label>Allow Negatives:</label>
    <input type="checkbox" [(ngModel)]="allowNegatives">

    <div>Game Settings:</div>
    <label>Time limit:</label>
    <input [(ngModel)]="timerInput" (ngModelChange)="timerChange()">
  </div>
</div>
