nav {
  background-color: #ef5350;
  color: #FFFFFF;
}

.navbar button {
  margin-left: 5px;
  margin-right: 5px;
}

.settings {
  position: absolute;
  z-index: 2;
  right: 0;
  background-color: #e0e0e0;
  height: 325px;
  top: 75px;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}

.center-column {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.two-em {
  font-size: 2em;
}

.three-em {
  font-size: 3em;
}

.five-em {
  font-size: 5em;
}

.four-em {
  font-size: 4em;
}

.red {
 color: #EF5350;
}

.green {
 color: #66BB6A;
}

.history-box {
 display: flex;
 flex-direction: column;
 font-size: 2em;
 padding: 5%;
 flex-wrap: wrap;
 max-height: 600px;
}

.min-height {
 height: 100px;
}

.box {
 min-height: 150px;
 border: 1px solid black;
 -webkit-border-radius: 5%;
 -moz-border-radius: 5%;
 border-radius: 5%;
 padding: 4%;
 min-width: 200px;
}

.p1Legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.25em;
  background-color: #e0e0e0;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}

.p2Legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.25em;
  background-color: #e0e0e0;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}
