<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">Math With Bros!</div>
    <button (click)="showLegend = !showLegend" class="navbar-right btn btn-default navbar-btn">Help</button>
    <button (click)="showSettings = !showSettings" class="navbar-right btn btn-default navbar-btn">Settings</button>
    <button #startBtn (click)="start()" class="btn btn-success navbar-right navbar-btn">Start</button>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="center-column">
        <div class="two-em" [ngClass]="{'red': timer <= 10}">TIME: {{ timer }}</div>
        <div *ngIf="isEndOfGame" class="three-em green">{{ winner }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="center-column">
        <div>Player 1</div>
        <div class="two-em" [ngClass]="{green: p1Score > p2Score && isEndOfGame}">
          Score: {{ p1Score }}
        </div>
        <div *ngIf="p1Equation" class="five-em">
          {{ p1Equation.toString() }}
        </div>
        <div class="five-em box">{{ p1Input }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="center-column">
        <div>Player 2</div>
        <div class="two-em" [ngClass]="{green: p2Score > p1Score && isEndOfGame}">
          Score: {{ p2Score }}
        </div>
        <div *ngIf="p2Equation" class="five-em">
          {{ p2Equation.toString() }}
        </div>
        <div class="five-em box">{{ p2Input }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="history-box">
        <span *ngFor="let eqn of p1CorrectList">
          {{ eqn.toFullEquationString() }}
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="history-box">
        <span *ngFor="let eqn of p2CorrectList">
          {{ eqn.toFullEquationString() }}
        </span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showLegend" class="p1Legend" (click)="showLegend = false">
  <div>Player 1 Keys:</div>
  <div>0-9: Number row</div>
  <div>Clear: Backspace</div>
</div>

<div *ngIf="showLegend" class="p2Legend" (click)="showLegend = false">
  <div>Player 2 Keys:</div>
  <div>0-9: Numpad</div>
  <div>Clear: Numpad +</div>
</div>

<div class="settings" *ngIf="showSettings">
  <form>
    <div class="form-group row">
      <label for="inputMinInt" class="col-sm-2 col-form-label">Min integer</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputMinInt" [(ngModel)]="minInt" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputMaxInt" class="col-sm-2 col-form-label">Max integer</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputMaxInt" [(ngModel)]="maxInt" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Allow Negatives</label>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="allowNegatives" type="checkbox" id="gridCheck1" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="timelimit" class="col-sm-2 col-form-label">Time Limit</label>
      <div class="col-sm-10">
        <input class="form-control" id="timelimit"
               [(ngModel)]="timerInput" (ngModelChange)="timerChange()"
               [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group-row">
      <button (click)="showSettings = !showSettings" class="btn btn-default">Apply</button>
    </div>
  </form>
</div>
